@import "tailwindcss";

@theme {
  --color-background-app: #10002b;
  --color-surface: #240046;
  --color-surface-hover: #3c096c;
  --color-primary: #9d4edd;
  --color-primary-hover: #c77dff;
  --color-accent: #e0aaff;
  --color-success: #10b981;
  --color-danger: #ef4444;
}

body {
  background-color: var(--color-background-app);
  color: #f8fafc;
  font-family: Arial, Helvetica, sans-serif;
}
